*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    color:#F5F5F5;
    background: linear-gradient(
        90deg,
        #0B0B0B 0%,
        #0F0F0F 35%,
        #180606 55%,
        #330000 75%,
        #5A0000 90%,
        #7F0000 100%
    );
    background-attachment: fixed;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(13,13,13,0.9);
    backdrop-filter:blur(10px);
    padding:15px 40px;
}

.logo a{
    color:#FAF9F6;
    text-decoration:none;
    font-size:35px;
    font-weight:bold;
}

.logo span{
    color:#E10600;
}

ul{
    display:flex;
    list-style:none;
    gap:30px;
}

ul li{
    list-style:none;
}

ul li a{
    color:#FAF9F6;
    text-decoration:none;
    font-size:18px;
}

ul li a:hover{
    color:#E10600;
}

nav li:last-child a{
    background-color:#E10600;
    padding:6px 12px;
    border-radius:5px;
}

nav li:last-child a:hover{
    background-color:#C10000;
    color:#fff;
}

nav a.active{
    color:#E10600;
    font-weight:bold;
    border-bottom:2px solid #E10600;
}

.hero{
    width:100%;
    height:100vh;
    background:url('../images/banner1.png') no-repeat center center/cover;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#FAF9F6;
    position:relative;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(
        90deg,
        rgba(0,0,0,.82),
        rgba(0,0,0,.45),
        rgba(122,0,0,.15)
    );
}

.hero>*{
    position:relative;
    z-index:2;
}

.hero button{
    margin-top:15px;
    padding:10px 20px;
    background-color:#E10600;
    color:#FAF9F6;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
}

.hero button:hover{
    background-color:#C10000;
    box-shadow:0 0 18px rgba(225,6,0,.5);
}

.video-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:50px;
    gap:40px;

    background:linear-gradient(
        90deg,
        #0B0B0B 0%,
        #0F0F0F 35%,
        #180606 55%,
        #330000 75%,
        #5A0000 90%,
        #7F0000 100%
    );
}

.video-text{
    flex:1;
}

.video-box{
    flex:1;
}

.video-box video{
    width:100%;
    border-radius:10px;
}

.video-text h2{
    font-size:32px;
    margin-bottom:15px;
    color:#F5F5F5;
}

.video-text p{
    font-size:18px;
    color:#B8B8B8;
}

.about{
    text-align:center;
    padding:60px 20px;

    background:linear-gradient(
        90deg,
        #0B0B0B 0%,
        #0F0F0F 35%,
        #180606 55%,
        #330000 75%,
        #5A0000 90%,
        #7F0000 100%
    );
}

.about h2{
    font-size:32px;
    margin-bottom:20px;
    color:#D4AF37;
}

.about p{
    font-size:18px;
    color:#C8C8C8;
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

.card{
    background:#1B1B1B;
    border-radius:10px;
    padding:15px;
    text-align:center;
    border:1px solid rgba(255,255,255,.08);
    box-shadow:0 10px 30px rgba(0,0,0,.35);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(225,6,0,.25);
}

.card img{
    width:100%;
    object-fit:cover;
    border-radius:8px;
}

.card h3{
    color:#fff;
}

.card p{
    color:#C8C8C8;
}

.card button{
    background:#E10600;
    color:#fff;
    border:none;
    padding:6px 12px;
    border-radius:5px;
    cursor:pointer;
    margin-top:5px;
    transition:.3s;
}

.card button:hover{
    background-color:#C10000;
}

.menu-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:20px;
}

.category-icons{
    display:flex;
    gap:20px;
    padding:20px;
    overflow:auto;
    justify-content:center;

    background:linear-gradient(
        90deg,
        #0B0B0B 0%,
        #0F0F0F 35%,
        #180606 55%,
        #330000 75%,
        #5A0000 90%,
        #7F0000 100%
    );
}

.icon-box{
    min-width:100px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
}

.icon-box img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:50%;
    border:2px solid #2E2E2E;
    padding:5px;
    transition:.3s;
}

.icon-box p{
    margin-top:8px;
    font-size:14px;
    color:#E0E0E0;
}

.icon-box img:hover{
    border-color:#E10600;
    transform:scale(1.1);
}

.icon-box p:hover{
    color:#E10600;
}

header{
    position:sticky;
    top:0;
    z-index:1000;
}

table{
    width: 70%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

thead{
    background: #7F0000;
    color: white;
}

th, td{
    padding: 15px;
    text-align: center;
}

td{
    color: #0B0B0B;
}

tbody tr{
    border-bottom: 1px solid black;
}

.item{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #0B0B0B;
}

.item img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.remove{
    background: #7F0000;
    color: #B8B8B8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove:hover{
    background: red;
}

.grand-total td{
    font-weight: bold;
    font-size: 18px;
}

.grand-total button{
    margin-top: 15px;
    padding: 10px 20px;
    background: #7F0000;
    color: #B8B8B8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grand-total button:hover{
    background: red; 
}

.qty-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qty-box button{
    width: 28px;
    height: 28px;
    border:none;
    background: #7F0000;
    color: #B8B8B8;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.qty-box button:hover{
    background: red;
}

.qty-box span{
    font-size: 16px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.material-symbols-outlined{
    font-size:36px;
    color:#fff;
}

.signup-icon{
    font-size: 36px;
    color:#fff;
}

/* .icon-box1{
    width:60px;
    height:60px;
    background:#0B0B0B;
    border-radius:50%;
    display:flex;
    justify-content:space-between;
    align-items:center;
} */

.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(
        90deg,
        #0B0B0B 0%,
        #0F0F0F 35%,
        #180606 55%,
        #330000 75%,
        #5A0000 90%,
        #7F0000 100%
    );
}

.auth-box{
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,.3);
}

.auth-box h2{
    margin-bottom: 20px;
    color:#2E2E2E
}

.auth-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.auth-box input:focus{
    border-color: red;
}

.auth-box button{
    width: 100%;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.auth-box button:hover{
    background-color: red;
}

.auth-box p{
    margin-top: 15px;
    font-size: 14px;
}

.auth-box a{
    color: red;
    text-decoration: none;
}

form{
    text-align: left;
}